:root {
  --primaryColor: #282323;
  --secondayColor: #f65282;
  --textFont: "Montserrat", sans-serif;
  --buttonFont: "Roboto", sans-serif;
}

body {
  background: #1b1b1b;
  margin: 0 auto;
  padding: 5px;
  width: 600px;
}

footer {
  background-color: var(--primaryColor);
  color: white;
  font-family: var(--buttonFont);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
}

.icon {
  margin-left: 5px;
  background: white;
  border: 1px solid white;
  border-radius: 50px;
  color: var(--primaryColor);
  font-size: 11px;
  line-height: 20px;
  padding: 3px 4px;
}

.icon:hover {
  color: white;
  background: var(--secondayColor);
  border: 1px solid var(--secondayColor);
}
