:root {
  --primaryColor: #282323;
  --secondayColor: #229fa8;
  --textColor: #f1f4f5;
  --textFont: "Montserrat", sans-serif;
  --secondayFont: "Roboto", sans-serif;
}

body {
  background: #1b1b1b;
  margin: 0 auto;
  padding: 5px;
  width: 600px;
}

footer {
  background-color: var(--primaryColor);
  color: var(--textColor);
  font-family: var(--secondayFont);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 7px;
}

p {
  padding: 7px;
}

.icon {
  margin-left: 5px;
  background: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 60px;
  color: var(--primaryColor);
  font-size: 11px;
  line-height: 20px;
  padding: 3px 4px;
}

.icon:hover {
  color: var(--textColor);
  background: var(--secondayColor);
  border: 1px solid var(--secondayColor);
}

.portfolioLink {
  color: var(--secondayColor);
  text-decoration: none;
}

.portfolioLink:hover {
  color: var(--textColor);
  background-color: var(--secondayColor);
}

@media (max-width: 768px) {
  body {
    max-width: 400px;
  }

  p {
    text-align: center;
  }
}
