h2 {
  color: var(--secondayColor);
  font-family: var(--textFont);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.results {
  font-family: var(--textFont);
  font-size: 12px;
  font-weight: 100;
  line-height: 20px;
  padding: 10px;
  color: white;
}

.PhoneticButton {
  background: white;
  border: 1px solid white;
  border-radius: 50px;
  color: var(--primaryColor);
  font-family: var(--buttonFont);
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  padding: 3px 7px;
  text-align: center;
  text-transform: uppercase;
}

.PhoneticButton:hover {
  color: white;
  background: var(--secondayColor);
  border: 1px solid var(--secondayColor);
}

.PhoneticText {
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  padding: 5px;
}

h3 {
  color: var(--secondayColor);
  font-family: var(--textFont);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.definition-definition,
.definition-example {
  font-family: var(--textFont);
  font-size: 11px;
  font-weight: 900;
}
.Synonyms {
  padding-left: 0;
}

.Synonyms li {
  display: inline;
  list-style: none;
  padding-right: 10px;
  text-transform: capitalize;
}
