.WordSearched {
  color: var(--secondayColor);
  font-family: var(--textFont);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.results {
  font-family: var(--textFont);
  font-weight: 100;
  line-height: 20px;
  padding: 10px;
  color: var(--textColor);
}

@media (max-width: 768px) {
  .WordSearched {
    font-size: 20px;
    margin-bottom: 5px;
    padding: 1px;
    text-align: left;
  }
}
