.dictionarySearch {
  padding: 5px;
}

.dictionarySearch h1 {
  background: var(--primaryColor);
  color: var(--textColor);
  font-family: var(--textFont);
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  margin: 0 auto;
  padding: 15px;
  text-align: left;
  text-transform: uppercase;
}

.searchBar {
  background: var(--textColor);
  border: 1px solid var(--textColor);
  border-radius: 50px;
  color: var(--primaryColor);
  font-family: var(--secondayFont);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 10px;
  padding: 5px 7px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 768px) {
  .dictionarySearch h1 {
    font-size: 38px;
    line-height: 36px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
  }

  .searchBar {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }
}
